<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.fluxsoftwares.adxpro"
        versionCode = "10" 
        version     = "1.0.0" >
    <name>ADX Pro</name>
    <description>
        Sistema de Gestão Acadêmico Rede de Ensino Doctum - Aplicativo do Professor.
    </description>
    <author email="fluxsoftwares@gmail.com" href="http://www.fluxsoftwares.com.br/">
        Flux Softwares
    </author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
</widget>
